{% extends 'layouts/registration_forms.html' %} 

{% load static %} 

{% block title %} Contraseña reestablecida {% endblock %}

{% block content %}

    <div class="container min-vh-100 min-vw-100 d-flex justify-content-center align-items-center"
        style="background-color: #e7eaf0;">
        <div class="row">
            <div class="col-auto card card-body">
                <h1 class="text-primary"><i class="fa-solid fa-circle-check"></i> Su contraseña se ha reestablecido correctamente.</h1>
                
                <div class="col-12 text-center">
                    <a role="button" href="{% url 'iniciar_sesion' %}" class="btn btn-primary">Iniciar Sesion</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}