{% extends 'layouts/registration_forms.html' %} 

{% load static %} 

{% block title %} Recuperar contraseña {% endblock %}

{% block content %}

    <div class="container min-vh-100 min-vw-100 d-flex justify-content-center align-items-center"
        style="background-color: #e7eaf0;">
        <div class="row">
            <div class="col-auto">
                <form class="row g-3 needs-validation card card-body" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="col-md-12 col-12">
                        <h1 style="color: #48e;"><i class="fas fa-solid fa-lock" ></i> Recuperar contraseña</h1>
                        <p class="mt-3">¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a
                            continuación y le enviaremos las instrucciones para configurar una nueva.</p>
                        <label for="validationEmail" class="form-label">Correo electrónico:</label>
                        <div class="input-group has-validation">
                            {% load my_filters %}
                            {{ form.email|add_attr:'class:form-control' }}
                            
                            <div class="invalid-feedback">
                                Por favor, escriba un correo valido.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Recuperar</button>
                        <a role="button" href="{% url 'iniciar_sesion' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}