{% extends 'layouts/registration_forms.html' %} 

{% load static %} 

{% block title %} Recuperar contraseña {% endblock %}

{% block content %}

    <div class="container min-vh-100 min-vw-100 d-flex justify-content-center align-items-center"
        style="background-color: #e7eaf0;">
        <div class="row">
            <div class="col-auto card card-body">
                <h1 style="color: #48e;"><i class="fas fa-solid fa-lock"></i> Restablecimiento de contraseña enviado.</h1>
                <br>
                <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, <b style="color: crimson;">si existe una cuenta con el correo electrónico que ingresó.</b> Debería recibirlos en breve.</p>

                <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
            </div>
        </div>
    </div>

{% endblock %}