
{% extends 'layouts/registration_forms.html' %} 

{% load static %} 

{% block title %} Recuperar contraseña {% endblock %}

{% block content %}

    <div class="container min-vh-100 min-vw-100 d-flex justify-content-center align-items-center"
        style="background-color: #e7eaf0;">
        <div class="row">
            <div class="col-auto card card-body">
                <h1 style="color: #48e;"><i class="fas fa-solid fa-lock"></i> Nueva contraseña</h1>
                <br>
                {% if validlink %}
                    <form class="row g-3 needs-validation card card-body" method="POST" novalidate>
                        {% csrf_token %}
                        {% load my_filters %}
                        <div class="col-md-12 col-12">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1" class="form-label">Nueva contraseña</label>
                            <div class="input-group has-validation">
                                {{ form.new_password1|add_attr:'class:form-control' }}
                                <div class="invalid-feedback">
                                    Contraseña invalida.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2" class="form-label">Confirmar contraseña</label>
                            <div class="input-group has-validation">
                                {{ form.new_password2|add_attr:'class:form-control' }}
                                <div class="invalid-feedback">
                                    Contraseña invalida.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
                        </div>
                    </form>
                {% else %}
                    <h1 class="text-center text-danger"><i class="fas fa-solid fa-lock"></i> ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO.</h1>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}