.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

th, td {
    max-width: 150px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
}